<div class="container mt-4">
    <h2 class="text-white animate__animated animate__bounce ">Settings</h2>
    <form action="/settings" method="POST" enctype="multipart/form-data">
        
        <div class="mb-3">
            <label for="username" class="form-label">Change Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Change Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>

        <div class="mb-3">
            <label for="pfp" class="form-label">Update Profile Picture</label>
            <input type="file" class="form-control" id="pfp" name="pfp" accept="image/*">
        </div>
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>